/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

a {
    color: inherit;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* AFTER CSS RESET */

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.leftside {
    background-image: url("img/fungi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 500px;
    width: 30vw;
}

.logo {
    background: rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
    width: 150px;
}

h1 {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 5em;
}

.credit {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
}

.text {
    font-size: 2em;
    margin: 0 500px 30px 30px;
}

form {
    padding: 20px 100% 20px 30px;
    background-color: white;
    box-shadow: 18px 5px 5px 5px rgba(0, 0, 0, .1);
}

legend {
    font-size: 1.1em;
}

label {
    font-size: 10px;
    margin: 10px 0 5px 0;
}

input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 6px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
}

input:focus {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
}

section {
    display: flex;
    margin: 20px 0 20px 0;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

button {
    background-color: #596D48;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 20px 30px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.log {
    color: #596D48;
}

.acc {
    margin-left: 30px;
}